extends layout

block content
  h1= title
  form(id='doctorForm', action="/resource/doctor", method="POST")
    div.form-group
      label.doctorAttr(for='patient_Name') patient_Name
      input#patient_Name(type='text', name='patient_Name')
    div.form-group
      label.doctorAttr(for='patient_Age') patient_Age
      input#patient_Age(type='number', name='patient_Age')
    div.form-group
      label.doctorAttr(for='Mail_Id') Mail_Id
      input#Mail_Id(type='text', name='Mail_Id')
    input(type="submit")
    script.
      document.forms['doctorForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error);
        });
      });
