body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0d9dd6;
}
 .doctorAttr {
  background-color: rgb(242, 128, 6);
  width: 120px;
 }
 .doctorAttr{
  background-color:yellow;
  width: 120px;
 }
 h1{
  color:darkred
 }
